/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */
/* GENERAL */
html {
  scroll-behavior: smooth;
}

body {
 font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content:'';
  display:block;
  clear: both;
}
/* /GENERAL */
/* INTESTAZIONE */
header {
  font-weight: light 300;
  background-image: url("../img/background-header.png");
  background-position: 120% 100%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #0C325A;
}

#container {
  margin:auto;
  width: 75%;
}

#container-header {
  height: 70px;
  line-height: 70px;
}
/* /INTESTAZIONE */

/* NAVIGAZIONE */
#logo,
#nav-1,
 #nav-2,
 .column,
 #img-discover,
 #text-discover {
  float: left;
}

#logo img {
  vertical-align: middle;
  margin-bottom: 12px;
}

 #logo {
  width: 15%;
}

#nav-1 {
  width:45%;
}

#nav-2 {
  width:40%;
  text-align: right;
}
/* LINK */

#nav-1 li:not(:last-child),
#nav-2 li:not(:last-child) {
  margin-right: 20px;
}

#nav-2 ul li:nth-child(2) {
 border: 1px solid white;
 padding: 8px 40px;
 border-radius: 5px;
}
#nav-2 ul li:nth-child(2):hover{
  border: 1px solid #7CBB02;
}

#nav-2 ul li:last-of-type {
  background-color: #7CBB02;
  padding: 8px 20px;
  border-radius: 5px;
}

ul li {
  line-height: initial;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  font-weight: bold;
}
/* /LINK */
/* /NAVIGAZIONE */
/* /INTESTAZIONE */

/* REGOLE TESTO E HR*/
h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  margin-bottom:10px;
}

h3 {
  font-size: 35px;
}

p {
 color:grey;
 font-weight: bold;
}
.column h2 {
  color:#7CBB02;
}

hr {
  border-color: lightgray;
}

.line-modify {
  width: 60px;
  border-color: lightgray;
  margin: 25px auto;
}
/* /REGOLE TESTO */
/* HERO */
#hero {
  position: relative;
  color:white;
  height:60vh;
}

#text-hero{
  position: absolute;
  top: 44%;
  width: 40%;
  transform: translateY(-50%);
}

.buttons-green {
  background-color: #7CBB02;
  padding: 18px 22px;
  border-radius: 3px;
}
/* /HERO */
/* ROW GREY */
#first-row {
  text-align: center;
  background-color: lightgrey;
  padding:40px;
  margin-bottom: 10px;
}

section:not(.no-center) {
  margin:auto;
  width: 75%;
}
/* /ROW GREY */
/* SEZIONE OFFERTE */
 .column {
   padding:40px;
 }

.column-img {
  margin-bottom: 15px;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

#column-left, #column-center, #column-right {
  text-align: center;
  width: calc(100%/3);
}
/* /SEZIONE OFFERTE */
/* SEZIONE DISCOVER LEVEL */

#section-discover {
  padding: 20px;
}

#img-discover, #text-discover {
  height: 30vw;
  width: calc(100%/2);
}

#img-discover {
  padding:40px;
}

#text-discover {
  width: 40%;
  padding: 40px;
}

#text-discover p {
  margin-top:20px;
  margin-bottom: 20px;
}

#text-discover a {
  font-weight: bold;
}

#text-discover a:hover {
  color: #7CBB02;
}
/* /SEZIONE DISCOVER LEVEL */
