* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
 font-family: 'Roboto', sans-serif;
}

header {
  background-image: url("../img/background-header.png");
  background-position: 120% 100%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #0C325A;
}

.clearfix::after {
  content:'';
  display:block;
  clear: both;
}

#container {
  margin:auto;
  width: 75%;
}

#container-header {
  height: 70px;
  line-height: 70px;
}

#logo, #nav-1, #nav-2 {
  float: left;
}

#logo img {
  vertical-align: middle;
  margin-bottom: 12px;
}

 #logo {
  width: 15%;
}

#nav-1 {
  width:45%;
}

#nav-2 {
  width:40%;
  text-align: right;
}

#nav-1 li:not(:last-child),
#nav-2 li:not(:last-child) {
  margin-right: 20px;
}

#nav-2 ul li:nth-child(2) {
 border: 1px solid white;
 padding: 8px 40px;
 border-radius: 5px;
}

#nav-2 ul li:last-of-type {
  background-color: #7CBB02;
  padding: 8px 20px;
  border-radius: 5px;
}

ul li {
  line-height: initial;
  margin-right: 20px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

h2 {
  font-weight: bold;
  margin-bottom:10px;
}

#hero {
  position: relative;
  color:white;
  height:60vh;
}

#text-hero{
  position: absolute;
  top: 44%;
  width: 35%;
  transform: translateY(-50%);
}

.buttons-green {
  background-color: #7CBB02;
  padding: 18px 22px;
  border-radius: 3px;
}
.first-row {
  text-align: center;
  background-color: lightgrey;
  padding:40px;
}
.main-text {
  color:grey;
  font-weight: bold;
}
